@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aquamarine;
  text-shadow: -4px 4px black;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  width: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #21062b;
}

html {
  scroll-padding-top: 80px;
}

header {
  position: fixed;
  background-color: #21062b;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: #d5660f;
  .icon {
    height: 80px;
    width: 50px;
    margin: 0 5px 5px 20px;
  }

  ul {
    font-size: 2rem;
    font-family: "Jersey 20", sans-serif;
    font-size: 2rem;
  }
  a {
    color: #d5660f;
    text-decoration: none;
    text-shadow: 4px 4px black;
    display: inline-block;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }

  a:hover {
    color: aquamarine;
    text-shadow: 4px 4px black;
    transform: scale(1.1);
  }
}
main {
  width: auto;
  height: auto;
}
#welcome-section {
  width: auto;
  height: 100vh;
  color: aquamarine;
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 700;
  text-shadow: -4px 4px black;
  background-image: url(https://www.ronins.co.uk/wp-content/uploads/2024/01/is-web-development-dying.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#projects {
  width: auto;
  min-height: 100vh;
  background: linear-gradient(to bottom, #37054a, #4645af);
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  h2 {
    font-size: xxx-large;
  }
  .project-tile {
    border: 1px solid #21062b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -4px 4px 4px #21062b;
    background-color: #37054a;
  }
  a {
    font-size: 1.8rem;
    color: aquamarine;
    background: transparent;
    text-decoration: none;
  }
  p:hover {
    color: aquamarine;
    text-shadow: 4px 4px black;
    transform: scale(1.1);
    cursor: pointer;
  }
}

#contact-section {
  box-sizing: border-box;
  width: auto;
  min-height: calc(100vh - 160px);
  background: linear-gradient(to bottom, #4645af, #37054a);
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  i:hover {
    color: aquamarine;
    text-shadow: 4px 4px black;
    transform: scale(1.3);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21062b;
  height: 80px;
  font-size: 1.5rem;
}
